{% extends 'accounts/basic.html' %}

{% block title %}
CRM | Profile settings
{% endblock %}

{% block body %}
<h3 style="margin-left: 22px"><strong>Profile Settings</strong></h3>
<hr>
<div class="row" style="margin:auto;">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
          <div class="alert alert-info dash-card prod-table-head">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              &nbsp; &nbsp;
              <h4 class="card-title"><strong>{{request.user.customer.name}}</strong></h4>
          </div>
          <hr>
          <img style="margin: auto; display: block;" src="{{request.user.customer.profile_pic.url}}">
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="col-md-12">
        <div class="card card-body">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <hr>
        <button class="btn btn-primary" type="submit">Update</button>

    </form>
        </div>

    </div>
  </div>
</div>


{% endblock %}
