<div class="row" style="margin:auto;">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body bg-info">
          <h5 style="text-align: center" class="card-title"><strong>Total Orders</strong></h5>
          <hr>
          <p style="text-align: center; font-size: 25px;" class="card-text"><strong>{{total_orders}}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body bg-info">
          <h5 style="text-align: center" class="card-title"><strong>Orders Delivered</strong></h5>
          <hr>
        <p style="text-align: center; font-size: 25px;" class="card-text"><strong>{{delivered}}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body bg-info">
          <h5 style="text-align: center" class="card-title"><strong>Orders On the way</strong></h5>
          <hr>
        <p style="text-align: center; font-size: 25px;" class="card-text"><strong>{{on_the_way}}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body bg-info">
          <h5 style="text-align: center" class="card-title"><strong>Orders Pending</strong></h5>
          <hr>
        <p style="text-align: center; font-size: 25px;" class="card-text"><strong>{{pending}}</strong></p>
      </div>
    </div>
  </div>
</div>
<hr>