.footer{
  background: #1a1b1c;
  color:white;

  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}

.dash-div {
            margin:auto;
            padding:10px;
            border:1px solid black;
            border-radius: 10px;
}

.dash-table-head {
            display: flex;
            justify-content: space-between;
}

.dash-table-prop {
            border-collapse:separate;
            border:solid black 1px;
            border-radius:6px;
            -moz-border-radius:6px;
}

.dash-card {
            padding:5px;
            border-radius:7px;
            text-align: center;
}

.prod-table {
            margin: auto;
            padding: 20px;
}

.prod-table-head {
            display: flex;
}

.admin-reg-form {
            margin: 0px 20%;
            padding: 20px;
            border: solid black 2px;
            border-radius: 7px;
}

